:root {
    /* 1/3 13:15 リモートリポジトリにアップする練習 */
    /*入力系の背景色*/
    --input-area-bg: #f5f5f5;

    /*入力フォーム幅の設定値*/

    /*入力フォーム高さの設定値:*/

    /*モーダル幅の設計値*/
    --modal-width:320px;

    
}
.modal-background {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;    
    z-index: 10;
}

.modal {
    width: 100%;
}

.summary {
    background-color: #e0ffff;
    margin: 0 auto;
}

.modal-wrapper {
    max-width: 320px;
    width: 100%;
}

.summary-header {
    text-align: center;
}

.summary-title {
    padding-top: 56px;
}

.summary-main {
    text-align: center;
}

.physical-check-title {
    margin-top: 80px;
}

.mental-check {
    margin-top: 32px;
}

.diary-entry-field {
    margin-top: 32px;
}

.diary-list-wrapper {
    padding: 16px 0 0 0;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    list-style: none;
}

.fill-in-field {
    margin-top: 16px;
    width: 100%;
    padding: 8px 0;
    text-align-last: center;
    background-color: #f5f5f5;
}

.check-list {
    text-align-last: center;
    background-color: #f5f5f5;
}